@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    
    margin:0;
    padding:0;
    /* font-family: 'Roboto'; */
    }
/* #cookees{
    width: 100%;
    position:relative;
    left: 0;
    top: 0;
    height:6vh;
    background:#31033bf8;
    text-align: center;
    color:white;
    font-size:1.2em;
    padding-top:10px;
} */
nav{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:12vh;
    box-sizing: border-box;
    background: #D92950;
}

#logo{
    width: 8%;
    height: 60%;
    margin: 15px 20px;
}
#section1{
    margin-top: 10vh;
    padding-top: 6%;
    left: 0;
    width: 100%;
    height: 100vh;
    background:url(images/hero-background.jpg);
    background-size:contain;
    background-position:center; 
    padding-bottom: 15vh;
}

#section2{
    padding-top: 13vh;
    background-color: #F1EFF3;
    width: 100%;
    height: 100vh;  
}
#section3{
    padding-top: 13vh;
    background-color: #D92950;
    width: 100%;
    height: 80vh; 
}
#section4{
    background-color: #F1EFF3;
    width: 100%;
    height: 100vh; 
    padding-top:5vh;
}
#section5{
    padding-top: 5vh;
    background-color: #D92950;
    width: 100%;
    height: 100vh; 
    padding-bottom: 30vh;
}
#section6{
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh; 
    padding-top:5vh;
}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    font-size: 1em;
    color: white;
    margin: 5vh 3vw 0vh 1vw;
    font-weight: bold;
    font-family: sans-serif;

}
nav ul li.active{
    text-decoration: underline;
    margin-bottom: 5px;
    text-decoration-color: rgb(197, 20, 79);
    border-bottom: 2px solid rgb(211, 44, 100);

} 
nav ul li:hover{
    text-decoration: underline;
    margin-bottom: 5px;
    text-decoration-color: rgb(197, 20, 79);
    border-bottom: 4px solid rgb(211, 44, 100);
}

section#section1 h1 {
    font-size: 4.2em;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
}
section#section1 h1 span{
 color: rgb(253, 242, 56);
}
.h3-t-white{
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5em;
    color: white;
    font-weight:200;
    text-align: center;
    margin-top: 15vh;

}
 .h4-M{
    font-family: 'Montserrat', sans-serif;
    font: size 40px;
    color: #3E1947;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 15vh;
}
p{
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
    justify-content:space-evenly;
    
}
.flexi{
    display: flex;
    justify-content: center;
}
.t-center{
    text-align: center;
}
.white{
    color:white;
}
.bg_gr{
   background:#F1EFF3 ;
}
.bg-red{
    background-color:#D92950; ;
}
.clr_cof{
    color:#424345 ;
}
.mt-1{
    margin-top:10vh;
}
.w-50{
    width: 48vw;
}
.row-center{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
}
.h-10{
    height: 10vh;
}
.em-1{
font-size: 1em;
}
.em-1_2{
    font-size: 1.2em;
}
.em-2{
    font-size: 2em;
}
.logo{
    width:4vw;
    height:8vh;
    color: #F47FA2;
}
.ml-1{
    /* margin-left:-2vw; */
    margin-right:1vw;
}

.flexi input{
    align-items: center;
    width: 19%;
    height: 10vh;
    border-radius: 10px;
    margin:0 0.5vw;
    background: rgb(255, 255, 255);
    color:#D92950;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: bold;
    border:solid white 2px;
}

.flexi input:hover{
    background:rgba(180, 41, 87, 0.5);
    color: white;
}
#texaf-campus{
    margin-top:4vh;
    width:80%;
    height: 60vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    float: left;
}

#kda_cohorte{
    margin-left: -45vh;
    width: 60%;
    height: 43vh;
    border-radius: 20px;
    margin-top: 40vh;
}
#logo2{
    display: flex;
    flex-direction:column;
    justify-content:start;
    width:160%;
    height: 70vh;
    
}
#logo2 img{
    
    margin-top: -5vh;
    width: 25%;
    height:25%;
    margin-left:7vw;
    padding-bottom: 15px;
    border-bottom: 2px solid #D92950;
}

 
#logo2 h2{
    width: 100%;
    height: 10vh;  
    font-size: 2.8em;
    font-weight: 550;
    font-style:initial;
    color: #424345;
    font-family:'Roboto', sans-serif;
    
    
}
#block_logo{
    opacity: 0.5;
}
p.logo2{
    font-family: 'Roboto',sans-serif;
    font-size: 1.3em;
    font-weight: 650;
    text-align:center;
    width: 20vw;
    color: #424345;
}
#logo-p1{
    margin-top: 20vh;
}
img#paper, img#cup{
    width:32%;
    height:32%;
    margin-left:6vw;
}
#parteners img{
width: 10vw;
height: 6vh;

}
#parteners{
    margin-top: 20vh;    
    align-items: center;
}
#parteners img:nth-child(4){
    height: 12vh;
    width: 6vw;
}

#bage1{
    background: #FFFFFF;
    padding-top: 7vh;
    width: 40vw;
    height: 40vh;
    padding:1 5;
    border-top: 10px solid #FDF238;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#bage2{
    background: #FFFFFF;
    padding-top: 7vh;
    width: 40vw;
    height: 40vh;
    border-top: 10px solid #E90046;
    margin-left: -6vw;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#bage1 span, #bage2 span{
    
    font-size: 2em;
    font-weight: 500;
    font-style:initial;
    color: #E90046;
    text-align: center;
    font-family:'Roboto', sans-serif;
}
#bage1 .flexi .transpa, #bage2 .flexi .transpa{
    background: #E90046;
    color:white;
    width: 50%;
    height: 10vh;
    border-radius: 10px;
    margin:0 0.5vw;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: bold;
    border:solid #D92950 2px;
    padding:5px 10px ;
}

#bage1 .flexi .transpa:hover, #bage2 .flexi .transpa:hover{
    border:solid #D92950 2px;
    background: white;
    color:#E90046;
}
#bage1 p, #bage2 p{
    text-align: center;
    margin:3vh 3vw -3vh 3vw ;
    font-family: sans-serif;
    font-weight:200;
}

#logo5{
    margin-left: 6vw;
}
.bage-sec5{
    margin-top: 10vh;
    width: 83%;
    height: 80%;
    border-radius: 10px;
}
#logo5 div div, #logo5 div div a{
    font-size: 11px;
    line-height:7px;
    font-weight: 400;
    color:white;
    height: 5vh;
    width:83%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: unset;
    
}
.pt-logo{
    padding-top: 1em;
    background: #E90046;
    padding-bottom: 1em;
}
.pt-drap{
    display: flex;
    margin-top:3px;
    background: white;
    border-bottom-left-radius:20px;
    border-top-left-radius: 20px;
    margin-right:-4.2vw;
}
.pt-drap img{
    width: 3.5em;
    height: 2.5em;
    margin-left: -5px;
    border-radius: 30px;
}
.pt-drap p{
    width: 100%;
    font-size: 1.1em;
    color:#E90046;
    margin-bottom:20px;
    margin-left: 10px;
    text-align: center;
}
#bage1_sec6{
    background: #F1EFF3;
    height: 70vh;
    width: 50vw;
    margin-top: 0;


}
#bage2-sec6{
    background: #F1EFF3;
    height: 70vh;
    width: 35vw;
}
#bage2-sec6 ol{
    background: #DFDDE1;  
    height: 55vh;
    width: 25vw;
    margin: 0 auto; 
    border-radius: 10px;
}
#bage2-sec6 p{
    background: #381241;
    height: 10vh;
    width:35vw ;
    margin-top: 0;
    font-size: 1.7em;
    color:white;
    padding-left: 2vw;
}
#bage1-sec6 p{
    background: #E90046;
    height: 10vh;
    width:50vw ;
    margin-top: 0;
    font-size: 1.7em;
    color:white;
    padding-left: 2vw;
}
 

